$font-header: 'Catamaran', sans-serif;
$font-text: 'PT Serif', serif;
$font-logo: 'Damion', cursive;

$color-one: #FFD337;
$color-two: #303030;
$color-three: #949494;

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 72px 0;
}
.section-title {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-family: $font-header;
}
.section-text {
    font-size: 16px;
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0 0 60px 0;
    color: $color-three;
}
.box-title {
    font-size: 18px;
    margin: 20px 0 10px 0;
    padding: 0;
    font-family: $font-header;
}

/* Splash */
.splash {
    width: 100vw;
    min-height: 700px;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1571657488935-9f3a81fbb018?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.splash::after {
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
}
.navigation {
    max-width: 933px;
    max-height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}
.splash ul {
    margin: 0;
    padding: 0;
    z-index: 2;
}
.splash li {
    display: inline;
}
.splash li a {
    text-decoration: none;
    font-size: 14px;
    padding: 0 40px 0 0;
    color: #ffffff;
    font-family: $font-header;
}
.splash .logo {
    color: $color-one;
    font-size: 26px;
    z-index: 1;
    font-family: $font-logo;
}
.header {
    text-align: center;
    position: relative;
    top: 157px;
    z-index: 1;
}
.page-title {
    font-size: 40px;
    color: #ffffff;
    top: 14px;
    position: relative;
    font-style: italic;
}
.page-subtitle {
    color: #ffffff;
    font-size: 72px;
    padding-top: 0;
    margin-bottom: 5px;
    position: relative;
    bottom: 30px;
    font-family: $font-header;
    font-weight: bold;
}
.btn {
    background-color: $color-one;
    color: #ffffff;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
    min-width: 240px;
    min-height: 65px;
    text-align: center;
    margin: 24px auto 0 auto;
    padding: 16px;
    text-transform: uppercase;
    font-family: $font-header;
}

/* Services */
.services-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 934px;
    margin: 0 auto;
}
.service-box {
    text-align: center;
    width: 277px;
    padding: 0;
}
.service-box p {
    font-size: 13px;
    margin: 0;
    text-align: center;
}
.service-box i {
    text-align: center;
    font-size: 35px;
    color: $color-one;
}
.service-icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    border: 3px solid $color-one;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* Portfolio */
.portfolio {
    background-color: #ECECEC;
}
.portfolio-wrapper {
    display: flex;
    max-width: 922px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;    
    flex: 0 0 33.33%;
}
.portfolio-box {
    min-height: 370px;
    width: 300px;
    background-color: #ffffff;
    margin-bottom: 50px;
    flex-direction: column;
}
.portfolio-image {
    position: absolute;
    max-width: 300px;
    height: 270px;
}
.portfolio-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.portfolio-text {
    padding: 260px 0 10px 0;
    margin: 0;
    text-align: center;
}
.portfolio-title {
    padding:30px 0 0 0;
    margin: 0;
    font-family: $font-header;
    color: $color-two;
}
.portfolio-subtext {
    padding-top: 0;
    font-style: italic;
    margin-top: 0;
    font-size: 12px;
    color: $color-three;
}

/*Footer*/

footer .container {
    margin: 0;
    padding: 15px;
  }
  
  .footer-wrapper {
    display: flex;
    max-width: 950px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer p {
    display: inline-block;
    font-family: $font-header;
    color: $color-three;
    font-size: 14px;
    font-weight: 600;
    padding-left: 290px;
  }
  footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
  }
  footer li {
    display: inline-block;
    margin-right: 5px;
  }
  
  footer li:last-child {
    margin-right: 105px;
  }
  
  footer a {
    text-decoration: none;
  }
  
  .footer-icon-wrapper {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #222222;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .footer-icon-wrapper i {
    color: white;
    font-size: 18px;
  }

  /* Media queries */
  @media (min-width: 768px) and (max-width: 979px) {
    .services-wrapper {
        flex-direction: column;
        align-items: center;
      }
    
      .portfolio-wrapper {
        flex-direction: column;
        align-items: center;
      }
    
      .footer-wrapper {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
      }
    
      footer .container {
        padding-left: 0;
      }
      footer li:last-child {
        margin-right: 0;
      }
      .navigation {
        flex-direction: column;        
      } 
      footer p {
        padding-left: 20px;
    }
    .splash ul {
        padding: 30px 0 0 0;
    }
  }

  @media (max-width: 767px) {
    .services-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .portfolio-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    footer .container {
      padding-left: 0;
    }
  
    .page-title {
      font-size: 30px
    }
  
    .page-subtitle {
      font-size: 65px;
    }
    .splash li a {
        font-size: 12px;  
        padding-right: 15px;
    }
    .splash li a:first-child {
        padding-left: 10px;
    } 
    footer p {
        padding-left: 15px;
    }
    .splash .logo {
        padding-left: 10px;
    }
    footer li:last-child {
      margin-right: 0;
    }
}